$primary-color: blue


body 
    font-family: helvetica, Arial, Helvetica, sans-serif
    //color: $primary-color
    position: fixed
    left: -14px
    width: 102%

footer
    position: fixed
    left: -5px
    text-align: center
    font-size: 2rem
    color: green
    bottom: 0
    background-color: lightgrey
    width: 102%
