$primary-color: #FDD1BE
$secondary-color: #E6ABA1
$tertiary-color: #FEDFB2
// $box-color: grey

#headerArea
    position: fixed
    background-color: $primary-color
    top: 0%
    width: 102%
    text-align: center
    font-size: 2rem

body 
    font-family: helvetica, Arial, Helvetica, sans-serif
    position: fixed
    left: -14px
    top: 7%
    height: 10px
    width: 102%

#stageArea
    background-color: $secondary-color
    text-align: center
    font-size: 2rem
    height: 1900px
    //padding: 50px

footer
    position: fixed
    left: -5px
    text-align: center
    font-size: 2rem
    bottom: 0
    background-color: $tertiary-color
    width: 102%
    z-index: 2
