$box-color: lightgrey

#clientTitle
    background-color: $box-color
    font-size: 2rem
    height-min: 50px

#clientName
    background-color: $box-color
    font-size: 2rem
    height-min: 50px

#clientDoB
    background-color: $box-color
    font-size: 2rem
    height-min: 50px

#clientLocation
    background-color: $box-color
    font-size: 2rem
    height-min: 50px

#clientDoT
    background-color: $box-color
    font-size: 2rem
    height-min: 50px

#clientFeedback
    background-color: $box-color
    font-size: 2rem
    height-min: 50px

#buttonFormTwo
    background-color: $box-color
    font-size: 2rem
    height-min: 50px